<!DOCTYPE html>
<html>

<head>
  <title>RubySampleTemplate</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>初心者向けホームページテンプレート tp_beginner3</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="ここにサイト説明を入れます">
  <meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
</head>

<body id="top">

  <div id="container">

    <header>
      <div>
        <% if user_signed_in? %>
        <!-- ユーザーがログインしているか調べる -->
        <p><%= current_user.email %>さん、ログイン中</p>
        <% else %>
        <p>ログインしてません</p>
        <% end %>
      </div>
      <h1 id="logo">
        <%= link_to("/index") do %>
        <%= image_tag 'logo.png' %>
        <% end %>
      </h1>
      <nav id="menubar">
        <ul>
          <li><a href="company.html">COMPANY</a></li>
          <li>
            <%= link_to("投稿一覧", "/posts/index") %>
          </li>
          <li>
            <%= link_to("新規投稿", "/posts/new") %>
          </li>
          <li>
            <% if user_signed_in? %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <% else %>
            <%= link_to("ログイン", "/users/sign_in") %>
            <% end %>

          </li>
          <li><a href="link.html">LINK</a></li>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <small>Copyright&copy; <a href="index.html">SAMPLE COMPANY</a> All Rights Reserved.</small>
      <span class="pr">《<a href="http://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
    </footer>

  </div>
  <!--/container-->

  <!--スマホ用更新情報　480px以下-->
  <script type="text/javascript">
    if (OCwindowWidth() <= 480) {
      open_close("newinfo_hdr", "newinfo");
    }
  </script>

</body>

</html>